html{
    font-size: 62.5%;
}

:root{
  --color-border: #ccc;
  --border-radius: 30px;
}
/*Image*/
.image{
  max-width: 100%;
  max-height: 100%;
}
/*Buttons*/
.btn{
  border: 0;
  border-radius: var(--border-radius);
  cursor: pointer;
  white-space: nowrap;
}

/*Icons*/

.logo-main{
  width: 10rem;
  height: auto;
  margin: 1rem;
}

.icon-group{
  padding: 1rem;
}

.icon{
  width: 1.5rem;
  height: 1.5rem;
}

.icon img{
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/*List*/
.list{
  list-style: none;
  padding-left: 0;
}

.list__item a{
  text-decoration: none;
}

.list--inline .list__item{
  display: inline-block;
  margin: 2rem;
}

/*Navigation Bar*/
.nav{
  display: flex;
  justify-content: space-between;
}

.nav-name{
  display: flex;
}

.icon-group{
  display: flex;
  justify-content: space-between;
}


@media screen and (min-width: 768px) {
  .icon img{
    visibility: hidden;
  }
}

@media screen and (max-width: 767px) {
  .input-group{
    visibility: hidden;
  }
}

/*Footer*/
.fter{
  display: flex;
  justify-content: center;
}

/*Inputs*/
.input{
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  outline: 0;
  font-size: 1rem;
}

.input-group{
  height: 2rem;
  border: 1px solid var(--color-border);
  border-radius: var(--border-radius);
  display: flex;
}

.input-group .input{
  border: 0;
  flex-grow: 1;
}

.input-group .btn{
  margin: 4px;
}

/*Register*/
.container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.input-register{
    margin: 1rem 0;
    width: 400px;
}

.input-register input{
  width: 100%;
}

.register__button{
  display: flex;
  justify-content: center;
  align-items: center;
}

.register__button input{
  margin: 1rem;
  border-radius: 10%;
  font-size: 2rem;
  padding: 0.5rem;
}

.register__submit{
  background: #7FB5FF;
  color: black;
}

.register__reset{
  background: transparent;
}

.register--wrapper{
  width: 400px;
}

.register--wrapper h1{
  text-align: center;
}


@media screen and (min-width: 768px) {
  .container{
    font-size: 2rem;
  }
}

/*Message for password validation*/
#message {
    display:none;
    color: #000;
    position: absolute;
    background: #f1f1f1;
}
  
  #message p {
    font-size: 1rem;
    padding: 0 0.5rem;
  }
  
  /* Add a green text color and a checkmark when the requirements are right */
  .valid {
    color: green;
  }
  
  .valid:before {
    position: relative;
    left: -0.5rem;
    content: "✔";
  }
  
  /* Add a red text color and an "x" when the requirements are wrong */
  .invalid {
    color: red;
  }
  
  .invalid:before {
    position: relative;
    left: -0.5rem;
    content: "✖";
  }

  /*Collapsibles*/
  .collapsible{
    margin-bottom: 1rem;
  }

  .collapsible__header{
    display: flex;
    justify-content: space-between;
  }

  .collapsible__heading{
    margin-top: 0;
    font-size: 1.5rem;
  }

  .collapsible__chevron{
    transform: rotate(90deg);
    transition: transform 0.3s;
  }

  .collapsible__content{
    font-size: 1rem;
    padding-bottom: 1rem;
    max-height: 0;
    overflow: hidden;
    opacity: 0;
    transition: all 0.3s;
  }

  .collapsible__content h3{
    margin-top: 1rem;
  }

  .collapsible--expanded .collapsible__chevron{
    transform: rotate(-90deg);
  }
  
  .collapsible--expanded .collapsible__content{
    max-height: 100vh;
    opacity: 1;
  }

  .container__center{
    margin: auto;
    max-width: 60%;
  }

  @media screen and (max-width: 768px) {
    .container__center{
      max-width: 90%;
      margin: auto;
    }
    
  }

  .container__center h1{
    text-align: center;
    margin-bottom: 5rem;
  }

  /*Image*/

  .content_center{
    margin: 1rem auto;
  }

  .image-share{
    border: 2px solid #000;
    max-width: 300px;
    align-items: center;
  }

  .image-content{
    border: 2px solid #000;
    max-width: 300px;
  }

  .profile-pic{
    width: 22px;
    height: 22px;
    border-radius: 50%;
    overflow: hidden;
    padding-right: 1rem;
    margin-left: 1rem;
  }

  .profile-pic img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
  }

  .image-content-top{
    display: flex;
    align-items: center;
  }

  .image-share-wrapper{
    display: flex;
  }

  .image-content-main{
    max-width: 300px;
    max-height: 300px;
  }

  .image-content-main img{
    width: 100%;
    height: 100%;
  }

  .image-share-button{
    margin-right: 1rem;
  }

  /*Popup form*/
  .form-popup{
    position: fixed;
    display: none;
    background-color: #ccc;
    border: 2px #000;
    width: 600px;
    height: 370px;
  }

  .form__description{
    font-size: 1.5rem;
    width: 250px;
  }

  .form--div{
    margin: 1rem;
  }

  .form--info{
    height: 320px;
  }


  .form__btn{
    float: right;
    margin: 0.3rem;
  }

  .form--topbar{
    display: flex;
    justify-content: space-between;
  }

  .drag-image {
    border: 1px dashed #fff;
    height: 300px;
    width: 300px;
    border-radius: 5px;
    font-weight: 400;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column
}

.drag-image.active {
    border: 2px solid #fff
}

.drag-image .icon {
    font-size: 30px;
    color: #fff
}

.drag-image h6 {
    font-size: 20px;
    font-weight: 300;
    color: #fff
}

.drag-image span {
    font-size: 14px;
    font-weight: 300;
    color: #fff;
    margin: 10px 0 15px 0
}

.drag-image button {
    padding: 10px 25px;
    font-size: 14px;
    font-weight: 300;
    border: none;
    outline: none;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
    border-radius: 5px;
    cursor: pointer;
    transition: all 0.5s
}

.drag-image button:hover {
    background-color: #fff;
    color: red
}

.drag-image img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 5px
}


  /*Cookies*/
  .container{
    width: 100%;
    margin: auto;
  }

  #cookies{
    width: 100%;
    position: fixed;
    bottom: 0;
    color: white;
    background-color: rgba(0, 0, 0, 0.7);
    z-index: 1;
    display: none;
  }

  .cookies{
    min-height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 10px;
  }

  .cookies a{
    color: yellow;
    font-weight: 500;
    text-decoration: none;
  }

  #cookies-btn{
    border-radius: 5px;
    padding: 8px 12px;
    font-size: 1rem;
    cursor: pointer;
    border: 3px solid white;
    background-color: black;
    color: white;
  }

  /*Block*/

  .block{
    --padding-vertical: 6rem;
    padding: var(--padding-vertical) 2rem;
  }

  .block__container{
    max-width: 1140px;
    margin: 0 auto;
  }

  .block__header{
    margin: 0;
    text-align: center;
  }

  .block__heading{
    font-size: 6rem;
  }
  .block--dark{
    background: #000;
    color: #fff;
  }

  .block--skewed-right{
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 100%, 0% 80%);
  }

  .block--skewed-left{
    padding-bottom: calc(var(--padding-vertical) + 4rem);
    clip-path: polygon(0% 0%, 100% 0%, 100% 80%, 0% 100%);
  }

  .block__image img{
    width: 100%;
    height: auto;
  }

  .block__description{
    height: 100px;
    margin: 3rem;
  }

  .block__description h2{
    font-size: 1.5rem;
  }

  .block__description p{
    font-size: 2.5rem;
  }
  
  /*Grid*/
  .grid{
    display: grid;
  }

  .grid--1x2{
    grid-template-columns: repeat(2, 1fr);
  }

  .grid--1x3{
    grid-template-columns: repeat(3, 1fr);
  }

  /*Side bar*/
  .sidebar{
    height: 100%;
    width: 100px;
    position: fixed;
    z-index: 1;
    top: 0;
    left: 0;
    overflow-x: hidden;
    padding-top: 50px;
    background-color: #111;
  }

  .sidebar a{
    text-decoration: none;
    font-size: 2rem;
    display: block;
    color: #818181;
    padding-bottom: 1rem;
  }

  .sidebar a:hover{
    color: #f1f1f1;
  }

  .admin_content{
    margin-left: 120px;
    margin-right: 20px;
  }
  /* #admin-image{
    display: none;
  } */

  .admin_search{
    height: 2rem;
    border: 1px solid var(--color-border);
    border-radius: var(--border-radius);
    display: flex;
  }
  
  .admin_search .input{
    border: 0;
    flex-grow: 1;
  }
  
  .admin_search .btn{
    margin: 4px;
  }

  .admin_table{
    border-collapse: collapse;
    width: 100%;
    margin-top: 50px;
  }

  .admin_table td,th{
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
  }

  .admin_table tr:nth-child(even){
    background-color: #ddd;
  }

  .admin_image_grid{
    width: 900px;
    height: 600px;
    overflow-y: scroll;
  overflow-x: hidden;
  border: 2px solid black;
  }
  .admin_image_grid div{
    height: 300px;
    width: 300px;
    border: 2px solid #fff;
  }

  .admin_image_grid div img{
    height: 100%;
    width: 100%;
  }

/*Test*/
.image-container {
  position: relative;
  width: 50%;
}

.image {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: .5s ease;
  backface-visibility: hidden;
}

.middle {
  transition: .5s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.image-container:hover .image {
  opacity: 0.3;
}

.image-container:hover .middle {
  opacity: 1;
}

.modal-button {
  background-color: #04AA6D;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  cursor: pointer;
  width: 100%;
  opacity: 0.9;
}

.modal-button:hover {
  opacity:1;
}

/* Float cancel and delete buttons and add an equal width */
.cancelbtn, .deletebtn {
  float: left;
  width: 50%;
}

/* Add a color to the cancel button */
.cancelbtn {
  background-color: #ccc;
  color: black;
}

/* Add a color to the delete button */
.deletebtn {
  background-color: #f44336;
}

/* Add padding and center-align text to the container */
.moral-container {
  padding: 16px;
  text-align: center;
}

/* The Modal (background) */
.modal {
  display: none; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: #474e5d;
  padding-top: 50px;
}

/* Modal Content/Box */
.modal-content {
  background-color: #fefefe;
  margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
  border: 1px solid #888;
  width: 80%; /* Could be more or less, depending on screen size */
}

/* Style the horizontal ruler */
hr {
  border: 1px solid #f1f1f1;
  margin-bottom: 25px;
}

/* The Modal Close Button (x) */
.close {
  position: absolute;
  right: 35px;
  top: 15px;
  font-size: 40px;
  font-weight: bold;
  color: #f1f1f1;
}

.close:hover,
.close:focus {
  color: #f44336;
  cursor: pointer;
}

/* Clear floats */
.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

/* Change styles for cancel button and delete button on extra small screens */
@media screen and (max-width: 300px) {
  .cancelbtn, .deletebtn {
    width: 100%;
  }
}

  /*New*/
  .prof_sidebar {
    left: 0;
    width: 200px;
    height: 300px;
}
.prof_sidebar .userpfp {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    margin-bottom: 10px;
}

.userprof {
  width: 800px;
  margin-left: 50px;
}


.profile--wrapper{
  display: flex;
  margin-top: 50px;
}

.profile-image{
  text-align: center;
}
