<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/public/css/normalize.css" />
    <link rel="stylesheet" href="/public/css/styles.css" />
    <title>Help</title>
  </head>
  <body>
    <header>
      <nav class="nav">
        <a href="/mvc/views/pages/viewimage.html"
          ><img src="/public/assets/img/logo.png" class="logo-main" alt=""
        /></a>
        <div class="input-group">
          <input type="text" class="input" placeholder="Search" />
          <button class="btn">Search</button>
        </div>
        <div class="icon-group">
          <div class="icon"><img src="/public/assets/img/search.png" alt="" /></div>
          <div class="profile-pic">
            <img src="/public/assets/img/oranges.jpg" alt="" />
          </div>
        </div>
      </nav>
    </header>
    <main>
      <section class="container__center">
        <h1>How can we help you?</h1>
        <p></p>
        <div class="collapsible">
          <header class="collapsible__header">
            <h2 class="collapsible__heading">I cannot login</h2>
            <img
              src="/public/assets/img/angle-right.png"
              class="icon collapsible__chevron"
              alt=""
            />
          </header>
          <div class="collapsible__content">
            <h3>Clear cookie of the site</h3>
            <p>
              The cookies and temporary data already stored on your computer may
              be causing the problem. On your browser, head to History, and
              clear all cookies and cache before trying again to login.
            </p>
          </div>
        </div>
        <div class="collapsible">
          <header class="collapsible__header">
            <h2 class="collapsible__heading">I cannot upload</h2>
            <img
              src="/public/assets/img/angle-right.png"
              class="icon collapsible__chevron"
              alt=""
            />
          </header>
          <div class="collapsible__content">
            <h3>If the images have error</h3>
            <p>
              Check if the extension of the image is jpg/peg/png/gif. If the
              extension isn't correct, it can't be uploaded. If the extensions
              are correct, it may be inappropriate. For check, contact us.
            </p>
            <h3>If the stage(public/internal/private) can't be set properly</h3>
            <p>If the error happens, immediately contact to us.</p>
          </div>
        </div>
        <div class="collapsible">
          <header class="collapsible__header">
            <h2 class="collapsible__heading">I cannot view images</h2>
            <img
              src="/public/assets/img/angle-right.png"
              class="icon collapsible__chevron"
              alt=""
            />
          </header>
          <div class="collapsible__content">
            <p>Check the wifi and internet status.</p>
          </div>
        </div>
        <div class="collapsible">
          <header class="collapsible__header">
            <h2 class="collapsible__heading">Have other problems?</h2>
            <img
              src="/public/assets/img/angle-right.png"
              class="icon collapsible__chevron"
              alt=""
            />
          </header>
          <div class="collapsible__content">
            Contact us through instakgram_service@gmail.com
          </div>
        </div>
      </section>
    </main>
    <div id="cookies">
      <div class="container">
        <div class="cookies">
          <p>This website uses cookies.</p>
          <a href="">Check out</a>
          <button id="cookies-btn">Agree</button>
        </div>
      </div>
    </div>
    <footer>
      <div class="fter">
        <ul class="list list--inline">
          <li class="list__item"><a href="about.html">About</a></li>
          <li class="list__item"><a href="copyright.html">Copyright</a></li>
          <li class="list__item"><a href="privacy.html">Privacy</a></li>
          <li class="list__item"><a href="help.html">Help</a></li>
        </ul>
      </div>
    </footer>
    <script src="/public/js/chevron.js"></script>
    <script src="/public/js/cookies.js"></script>
  </body>
</html>
